@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body { 
    @apply text-cultured;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-grid-item {
  position: relative;
}

.react-grid-item .react-resizable-handle {
  display: none; /* Hide all handles */
}

.react-grid-placeholder {
  border-radius: 6px;
  /* border: 2px dashed #ff79c6; */
  background-color: #ffffff !important;
  /* transition: background-color 0.3s; Smooth transition */
}

/* Remove the up/down arrows from number inputs */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.disable-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* styles.css */
.custom-toggler {
    border-color: transparent; /* Remove the default border */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
